
/*
 * Hamburger menu with animation
 */
 @media (min-width: 775px){ .jho_hamburger-menu{ display: none; } }
.jho_hamburger-menu{
  position:fixed;
  top:-10px;
  right: 20px;
  cursor: pointer;
  z-index:11;
  padding: 20px;
}
.jho_hamburger-menu a{
  position:absolute;
  right:45px;
  top: 23px;
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
}
.jho_hamburger-menu a:hover{
  text-decoration:none;
  color: #333;
}
.jho_closing-menu{
  width: 30px;
  height: 20px;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
}
.jho_closing-menu span { position: absolute; left: 50%; top: 50%; }
.jho_closing-menu span,
.jho_closing-menu span:before,
.jho_closing-menu span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #333;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}
.jho_closing-menu span:before {
  top: -10px;
}
.jho_closing-menu span:after {
  bottom: -10px;
}
.jho_closing-menu.open span {
  background-color: transparent;
}
.jho_closing-menu.open span:before, .jho_closing-menu.open span:after {
  top: 0;
}
.jho_closing-menu.open span:before {
  transform: rotate(45deg);
}
.jho_closing-menu.open span:after {
  transform: rotate(-45deg);
}
/* Hamburger menu end */

.jho_hidden-menu.show{
  width:300px;
  border: 1px solid #eee;
}
@media (max-width: 475px){ .jho_hidden-menu.show{ width: 66%; } }
.jho_hidden-menu{
  -webkit-transition: all .25s ease;
            transition: all .25s ease;
  position:fixed;
  top:0;
  right:0;
  height:100%;
  background-color: #fff;/*#4caf50*/
  z-index:10;
  border-left: 0;
  border-right:0;
  width: 0px;
}
.jho_hidden-menu div{
  height: 150px;
  background-color: #455A64;
}
.jho_hidden-menu div h1{
  position:relative;
  top:100px;
  left: 30px;
  margin:0;
  padding:0;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
}
.jho_hidden-menu nav{
  margin-top: 4rem;
}
.jho_hidden-menu ul{
  list-style: none;
  padding:0;
  margin:0;
}
.jho_hidden-menu li{
  padding: 20px 20px;
}
.jho_hidden-menu li a{
  color: #333;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 20px 20px;
}
.jho_hidden-menu li a:hover{
  color: #337ab7;
}
/**
* Contact form
*/
.jho_greyarea{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  cursor:pointer;
}
.jho_contact-card{
  cursor:default;
  margin-top: 100px;
  background-color: #fff;
  border:1px solid #eee;
  border-radius: 3px;
  display: inline-block;
  text-align: left;
}
.jho_contact-card h1{
  margin-left: 30px;
}
.jho_contact-card ul{
  list-style-type:none;
  padding-left: 15px;
}
.jho_contact{
  float:none;
  display:block;
}
textarea{
  margin-right: 30px;
  width: 300px;
  height: 75px;
  font-size:18px;
}
.contact_group input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:288px;
  border:none;
  border-bottom:1px solid #757575;
}
.contact_group input:focus{ outline:none; }
.contact_group label{
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.contact_group input:focus ~ label, .contact_group input:valid ~ label{
  top:-20px;
  font-size:14px;
  color:#455A64;
}
/* active state */
.contact_group input:focus ~ .contact_input_bar:before, .contact_group input:focus ~ .contact_input_bar:after {
  width:50%;
}
/* active state */
.contact_group input:focus ~ .jho_highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
/* BOTTOM BARS ================================= */
.jho_submit-button{
  width: 307px;
  background: none;
  outline: none;
  font-size: 18px;
  height: 40px;
  border: 2px solid #333;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
.jho_submit-button:hover{
  background-color: #455A64;
}
.contact_group{
  position:relative;
  margin-bottom: 25px;
}
.contact_input_bar    { position:relative; display:block; width:300px; }
.contact_input_bar:before, .contact_input_bar:after     {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#455A64;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.contact_input_bar:before {
  left:50%;
}
.contact_input_bar:after {
  right:50%;
}

/* HIGHLIGHTER ================================== */
.jho_highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#455A64; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#455A64; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#455A64; }
  to    { width:0; background:transparent; }
}

/**
* Small fixes
*/
.hidden{
  display:none;
}
.post-list h2{
  margin-bottom: 0;
}

.jho_header{
  border-top: 3px solid #37474F;
  font-family:'Montserrat', sans-serif;
  background-color: #455A64;
}
.jho_nav-title{
  float: left;
  margin: 6px 0;
  color: #fff;
  font-size: 20px;
}
.menu--shylock{
  margin-top:2px;
  float:right;
}
@media(max-width:775px){ .menu--shylock{ display:none; } }
/**
* Shylock nav
*/
.menu__list {
 list-style: none;
 padding:0;
 margin:0;
}
.menu__item {
 display: inline-block;
 margin: 8px 0;
}
.menu__link {
 position: relative;
 margin: 0 1em;
 padding-right: 0;
 padding-left: 0;
 color: #fff;
 text-decoration: none;
 -webkit-transition: color 0.4s;
 transition: color 0.4s;
 font-family: 'Montserrat', sans-serif;
 text-transform: uppercase;
}
.menu__link:visited{
  color: #fff;
}
.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
}
.menu--shylock .menu__item--current .menu__link::before {
 -webkit-transition-delay: 0s;
 transition-delay: 0s;
}
.menu__link:hover,
.menu__link:focus {
 background:none;
 color: #fff;
}
.menu__link:hover::before,
.menu__link:focus::before {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
 -webkit-transition-delay: 0s;
 transition-delay: 0s;
}
.menu__link::before,
.menu__link::after {
 content: '';
 position: absolute;
 bottom: -13px;
 left: 0;
 width: 100%;
 height: 3px;
 -webkit-transform: scale3d(0, 1, 1);
 transform: scale3d(0, 1, 1);
 -webkit-transform-origin: center left;
 transform-origin: center left;
 -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
 transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu__link::before {
 background: #B0BEC5;
 -webkit-transition-delay: 0.4s;
 transition-delay: 0.4s;
}
.menu__link::after {
 background: #37474F;
}
