<div class="jho_hamburger-menu">
  <a>MENU</a>
  <div class="jho_closing-menu">
    <span></span>
  </div>
</div>
<div class="jho_hidden-menu">
  <div><h1>JHØ</h1></div>
  <nav>
    <ul>
      <li>
        <a href="#">Welcome</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="blog">Blog</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
</div>
<header>
  <div class="jho_header">
    <div class="wrapper">
      <a href="/blog" class="jho_nav-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</a>
      <nav class="menu--shylock">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="/" class="menu__link">Welcome</a>
            </li>
            <li class="menu__item">
              <a href="/" class="menu__link">About</a>
            </li>
            <li class="menu__item menu__item--current">
              <a href="/blog" class="menu__link">Blog</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Contact</a>
            </li>
          </ul>
        </nav>
    </div>
  </div>
</header>
